.container{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
  text-align: center;
	border-color: black;
}

.grid-cabecera {
  display: grid;
  grid-template-columns: auto auto auto; 
  grid-gap: 10px; 
  text-align: center;
}

#item-icon {
  grid-column: span 1; 
  padding: 20px;
}

#item-text {
  grid-column: span 2; 
  padding: 20px;
  padding-top:20%;
}

.grid-botones{
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
}
 
button[type="action"]{
	background-color: #173076;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 20px 0px 20px 0px;
	cursor: pointer;
	margin-bottom: 20px;
	min-width: 150px;
}

button[type="number"]{
	background-color: #173076;
	font-size: 15px;
	color: #fff;
	padding: 10px 25px;
	border: none;
	border-radius: 0px 20px 0px 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

div div#item-left a button[type="action"]{
	border-radius: 0px 0px 0px 20px;
	/*text-align: left;*/
} 

div div#item-rigth a button[type="action"]{
	border-radius: 0px 20px 0px 0px;
}

div div#item-rigth button[type="action"]{
	border-radius: 0px 20px 0px 0px;
} 

#cancelar{
	background-color: #444444;
}

#cantidad{
	border: 1px solid black;
	border-radius: 2px 2px 2px 2px;
	padding: 10px;
	margin-bottom: 20px;
}

#continuar{
	margin-left: 100px;
	background-color: #444444;

}

table{
	margin-left: 158px;
}